@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@900&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: #575757;
}

h1 {
  font-size: 120px;
  font-family: "Roboto";
  font-size: 120px;
  font-weight: 900;
  line-height: 1.08;
  text-transform: uppercase;
}

h3 {
  font-size: 42px;
  line-height: 1.19;
}

h4 {
  font-size: 26px;
  line-height: 1.55;
}

a {
  color: #fff;
}

[class$=__desc] {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  background-color: #dd2242;
  border-radius: 211px;
}
.button_hero {
  padding: 26px 64px;
}
.button_articles {
  padding: 16px 40px;
}
.button_map {
  padding: 18px 56px;
}

.hero {
  background-image: url("../img/Hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-left: 32px;
  max-width: 1915px;
  margin: 0 auto;
  height: 100vh;
  justify-content: start;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(auto, 277px) auto minmax(auto, 417px);
  grid-template-rows: minmax(auto, 105px) auto minmax(auto, 254px);
  grid-template-areas: "logo nav buttons" "scroll сontent сontent" "social card video";
}
.hero__logo {
  grid-area: logo;
}
.hero__nav {
  grid-area: nav;
}
.hero__buttons {
  grid-area: buttons;
  justify-self: center;
}
.hero__scroll {
  grid-area: scroll;
  align-self: stretch;
}
.hero__сontent {
  grid-area: сontent;
}
.hero__social {
  grid-area: social;
  align-self: stretch;
}
.hero__card {
  grid-area: card;
  align-self: end;
}
.hero__video {
  grid-area: video;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}
.nav__item + .nav__item {
  margin-left: 62px;
}

.header-buttons__item + .header-buttons__item {
  margin-left: 44px;
}

.scroll {
  padding: 50px 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-right: auto;
  height: 100%;
}
.scroll__num {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-top: 20px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}
.scroll__bar {
  display: inline-block;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  width: 2px;
  height: 100%;
  position: relative;
}
.scroll__bar::after {
  content: "";
  width: 4px;
  height: 33%;
  background: #dd2242;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: -1px;
}

.hero-сontent h1 {
  margin-bottom: 21px;
}

.hero-social {
  padding: 55px 30px;
}
.hero-social__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-social__item {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.hero-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 90%;
}
.hero-card__item {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 41px 71px;
}
.hero-card__num {
  display: block;
  margin-bottom: 14px;
  color: #dd2242;
}
.hero-card__desc {
  color: #939393;
}

.articles {
  background-image: url("../img/Articles/articles-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 111px 0 209px;
}

.articles-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  background: linear-gradient(0, #010a20 0%, rgba(1, 10, 32, 0) 100%);
}
.articles-card_reverse {
  flex-direction: row-reverse;
  background: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
}
.articles-card__img {
  border-radius: 10px;
  overflow: hidden;
  margin-right: 130px;
}
.articles-card__img_reverse {
  margin-right: 0;
  margin-left: 130px;
}

.articles-card-content {
  max-width: 407px;
}
.articles-card-content__title {
  margin-bottom: 30px;
}
.articles-card-content__desc {
  margin-bottom: 30px;
}

.explore-numbers {
  background-image: url("../img/Explore-Numbers/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.explore-numbers__title {
  color: #010a20;
  text-align: center;
  font-size: 60px;
  line-height: 1.5;
  padding: 127px 0 44px;
}
.explore-numbers__slider {
  height: 310px;
  width: 80%;
  background-color: aqua;
  margin: 0 auto;
}

.explore-numbers-content-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 340px));
  justify-items: center;
  justify-content: center;
  gap: 50px 30px;
  padding: 200px 15px;
  margin-top: 890px;
  opacity: 0.9;
  background: #020c21;
}
.explore-numbers-content-list__body {
  grid-column: 1/-1;
}
.explore-numbers-content-list__title {
  font-size: 60px;
  line-height: 1.5;
  text-align: center;
}
.explore-numbers-content-list__desc {
  color: #e0e0e0;
  max-width: 484px;
  text-align: center;
}

.explore-numbers-content-card {
  display: flex;
  flex-direction: column;
}
.explore-numbers-content-card__number {
  color: #dd2242;
  text-align: center;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.386px;
  margin-bottom: 14px;
}
.explore-numbers-content-card__desc {
  color: #e0e0e0;
  text-align: center;
}

.map {
  background-image: url("../img/Map/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 250px 0;
}
.map__сontainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map__title {
  color: #000;
  max-width: 614px;
  text-align: center;
  margin-bottom: 34px;
}
.map__desc {
  color: #6f7787;
  max-width: 470px;
  text-align: center;
  margin-bottom: 34px;
}