// max-width: 1240px;
.articles {
    background-image: url("../img/Articles/articles-background.png");
    background-size: cover;
    padding: 111px 0 209px;
}
.articles-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 30px;

    background: linear-gradient(0, #010a20 0%, rgba(1, 10, 32, 0) 100%);
    &_reverse {
        flex-direction: row-reverse;
        background: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
    }
    &__img {
        border-radius: 10px;
        overflow: hidden;
        margin-right: 130px;
        &_reverse {
            margin-right: 0;
            margin-left: 130px;
        }
    }
}
.articles-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 407px;
    &__title,
    &__desc {
        margin-bottom: 30px;
    }
}

@media (max-width: 1076px) {
    .articles {
        padding: 0;
        h3 {
            font-size: 40px;
            line-height: 1.15;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    .articles-card {
        flex-direction: column;
        padding: 50px 30px;
        &_reverse {
            padding: 0 30px 50px;
        }
        &__img {
            margin-right: 0;
            margin-bottom: 33px;
            &_reverse {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    .articles-card-content {
        max-width: none;
        align-items: center;
        &__title,
        &__desc {
            text-align: center;
        }
    }
}

@media (max-width: 612px) {
    .articles-card-content {
        align-items: stretch;
        &__title,
        &__desc {
            text-align: left;
        }
        a {
            text-align: center;
        }
    }
}
