.explore-numbers {
    background-image: url("../img/Explore-Numbers/background.jpg");
    background-size: cover;
    background-position: bottom;
    padding-top: 127px;
    &__title {
        color: #010a20;
        text-align: center;
        font-size: 60px;
        margin-bottom: 44px;
    }
    &__slider {
        height: 310px;
        max-width: 1433px;
        margin: 0 auto 890px;
        padding: 0 7px;
        background-color: aqua;
    }
}

.explore-numbers-content-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 340px));
    justify-items: center;
    justify-content: center;
    gap: 50px 30px;
    padding: 200px 30px;
    background: rgba(2, 12, 34, 0.9);
    &__body {
        grid-column: 1/-1;
    }
    &__title {
        font-size: 60px;
        text-align: center;
    }
    &__desc {
        color: #e0e0e0;
        max-width: 484px;
        text-align: center;
    }
}

.explore-numbers-content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__number {
        color: #dd2242;
        font-size: 42px;
        margin-bottom: 14px;
    }
    &__desc {
        color: #e0e0e0;
        text-align: center;
    }
}

@media (max-width: 730px) {
    .explore-numbers-content-list {
        grid-template-columns: auto;
        gap: 80px 30px;
        padding: 69px 30px;
        h3 {
            font-size: 40px;
        }
        p {
            font-size: 16px;
        }
        &__body {
            h3 {
                margin-bottom: 50px;
            }
        }
    }
    .explore-numbers {
        h3 {
            font-size: 40px;
        }
        padding-top: 49px;
        &__title {
            color: #010a20;
            text-align: center;
            font-size: 60px;
            margin-bottom: 44px;
        }
    }
}
