.footer {
    background-color: #010a20;
    &__сontainer {
        padding: 38px 85px 47px;
        position: relative;

        display: flex;
        align-items: end;
        flex-wrap: wrap;
    }
    &__logo {
        margin-right: 124px;
    }
    &__copyright {
        line-height: 1.55;
        letter-spacing: 0.5px;
    }
}

.scroll-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 104px;
    background-color: #dd2242;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: -52px;
    span {
        display: inline-block;
        border: solid rgb(255, 255, 255);
        border-width: 0 6px 6px 0;
        margin-bottom: -14px;
        width: 28px;
        height: 28px;
        transform: rotate(-135deg);
    }
}

.footer-nav {
    margin-right: auto;

    &__list {
        display: flex;
    }
    &__item {
        margin-right: 35px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #fff;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.4s ease-in-out;
        }
        &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

.footer-soc {
    display: flex;
    margin-right: 55px;
    &__img {
        & + & {
            margin-left: 23px;
        }
    }
}

@media (max-width: 1132px) {
    .footer {
        &__сontainer {
            justify-content: center;
        }
        &__logo {
            margin-right: 22px;
        }
    }
    .footer-nav {
        margin-right: 0;
    }
    .footer-soc {
        margin-right: 22px;
    }
}

@media (max-width: 997px) {
    .footer {
        &__copyright {
            margin-top: 20px;
        }
    }
}
@media (max-width: 732px) {
    .footer-soc {
        margin-right: 22px;
    }
}
@media (max-width: 548px) {
    .footer {
        &__сontainer {
            padding: 70px 30px 45px;
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            margin-right: 0;
        }
    }
    .footer-nav {
        margin-top: 20px;
        &__list {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-right: 0;
            & + & {
                margin-top: 20px;
            }
        }
    }
    .footer-soc {
        margin-right: 0;
        margin-top: 20px;
    }
    .scroll-up {
        right: 50%;
        transform: translate(50%);
    }
}
