.hero {
    background-image: url("../img/Hero/hero-background.jpg");
    background-size: cover;
    min-height: 100vh;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(auto, 277px) minmax(auto, 1225px) minmax(auto, 417px);
    grid-template-rows: minmax(auto, 105px) auto minmax(auto, 254px);
    grid-template-areas:
        "logo nav buttons"
        "scroll сontent сontent"
        "social card video";

    &__logo {
        grid-area: logo;
    }
    &__nav {
        grid-area: nav;
    }
    &__buttons {
        grid-area: buttons;
        justify-self: center;
    }
    &__scroll {
        grid-area: scroll;
        align-self: stretch;
    }
    &__сontent {
        grid-area: сontent;
    }
    &__social {
        grid-area: social;
        align-self: stretch;
    }
    &__card {
        grid-area: card;
        align-self: end;
    }
    &__video {
        grid-area: video;
        align-self: end;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.nav {
    &__list {
        display: flex;
        text-transform: uppercase;
    }
    &__item {
        margin-left: 62px;
    }
}
.header-buttons {
    &__item {
        & + & {
            margin-left: 44px;
        }
    }
}
.scroll {
    padding: 50px 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: auto;
    &__num {
        margin-top: 20px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
    &__bar {
        display: inline-block;
        background-color: #fff;
        width: 2px;
        height: 100%;
        position: relative;
        &::after {
            content: "";
            width: 4px;
            height: 33%;
            background: #dd2242;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
            position: absolute;
            top: 0;
            left: -1px;
        }
    }
}

.hero-сontent {
    h1 {
        margin-bottom: 21px;
    }
}

.hero-social {
    padding: 55px 30px;
    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
}

.nav,
.hero-social {
    &__item {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #fff;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.4s ease-in-out;
        }
        &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

.hero-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__item {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 40px 70px;
    }
    &__num {
        display: block;
        margin-bottom: 14px;
        color: $mainRed;
    }
    &__desc {
        color: #939393;
    }
}

@media (max-width: 1643px) {
    .hero-card {
        &__item {
            padding: 30px 30px 15px;
        }
        &__desc {
            font-size: 16px;
        }
    }
    .hero-social {
        padding: 25px 30px;
    }
}

@media (max-width: 1490px) {
    .hero-card {
        &__item {
            padding: 15px;
        }
        &__num {
            font-size: 16px;
            font-weight: 900;
            margin-bottom: 4px;
        }
    }
}
@media (max-width: 1300px) {
    .hero {
        padding: 40px 30px;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "logo buttons"
            "сontent сontent"
            "card card"
            "video video";
        &__nav {
            display: none;
        }
        &__buttons {
            justify-self: end;
        }
        &__scroll {
            display: none;
        }
        &__сontent {
            margin: 60px 0;
            h1 {
                font-size: 58px;
            }
        }
        &__social {
            display: none;
        }
        &__video {
            background-color: rgba(0, 0, 0, 0.6);
            padding-top: 30px;
            justify-self: stretch;
            align-self: stretch;
        }
    }
}
@media (max-width: 600px) {
    .hero-card {
        grid-template-columns: auto;
        &__desc {
            max-width: 215px;
        }
    }
}
