@mixin map-indent {
    text-align: center;
    margin-bottom: 34px;
}

.map {
    background-image: url("../img/Map/background.jpg");
    background-size: cover;
    padding: 250px 30px;
    &__сontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        color: #000;
        max-width: 614px;
        @include map-indent;
    }
    &__desc {
        color: #6f7787;
        max-width: 470px;
        @include map-indent;
    }
}

@media (max-width: 612px) {
    .map {
        padding: 170px 30px 116px;
        h3 {
            font-size: 40px;
        }
        p {
            line-height: 1.5;
            letter-spacing: 0.5px;
        }
        a {
            align-self: stretch;
            text-align: center;
        }
    }
}
