.video {
    background-image: url("../img/Video/background.jpg");
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 642px));
    gap: 115px 75px;
    grid-template-areas:
        "title title"
        "video video";

    justify-items: center;
    justify-content: center;
    padding: 141px 30px 255px;
    &__title {
        grid-area: title;
        max-width: 1056px;
        text-align: center;
    }
    &__video {
        grid-area: video;
    }
}
.video-card {
    display: grid;
    grid-template-areas:
        "video title"
        "video desc";
    grid-column-gap: 42px;
    grid-row-gap: 31px;
    &__video {
        grid-area: video;
        border-radius: 10px;
        overflow: hidden;
    }
    &__title {
        grid-area: title;
    }
    &__desc {
        grid-area: desc;
        opacity: 0.7;
    }
}

@media (max-width: 1244px) {
    .video {
        gap: 40px 20px;
        padding: 80px 30px 40px;
        h2 {
            font-size: 40px;
            line-height: 1.15;
        }
    }
    .video-card {
        justify-items: center;
        grid-template-areas:
            "video"
            "title"
            "desc";
        grid-row-gap: 30px;
        &__desc {
            text-align: center;
        }
    }
}

@media (max-width: 642px) {
    .video {
        grid-template-columns: auto;
        grid-template-areas:
            "title"
            "video";
    }
    .video-card {
        &__title {
            font-size: 22px;
        }
        &__desc {
            text-align: center;
            font-size: 16px;
        }
    }
}
